.contactSection {
  padding: 4rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-accent);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contactForm {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.formGroup input,
.formGroup textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--color-accent);
}

button[type='submit'] {
  padding: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-accent);
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type='submit']:hover {
  background-color: var(--color-accent);
}