/* src/components/TangramLoader.css */

.loader-container {
  display: flex;
  flex-direction: column; /* Para que los botones queden encima del SVG */
  align-items: center;
  justify-content: center;
  width: 100vw;   /* O un tamaño fijo que sepas que es grande */
  height: 100vh;  /* O un tamaño fijo, ej. 500px */
  background-color: #333; /* Para que veas bien el contraste */
}

.tangram-svg {
  width: 400px; /* Asegura que el SVG tenga un ancho y alto explícito */
  height: 400px; /* Igual al viewBox, para una escala 1:1 */
  border: 1px solid white; /* Añade un borde para ver los límites del SVG */
  background-color: #f0f0f0; /* Un fondo claro para ver las piezas */
}